/*CSS - TELA PLANEJAMENTO - TELA 02*/

body {
    background-color: rgb(240, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ABA 01 */ 

#inicioProjeto {
    text-align: center;
    font-family: monospace;
    color: rgb(1, 77, 1);
    font-size: 40px;

}

#tituloProjeto {
    width: 100%;   
    height: 40px;  
    font-size: 16px;
    padding: 8px;
    box-sizing: border-box; 
}

#btnSalvar{
    width: 100%;
    height: 40px;
}


/* ABA 02 */ 

#btnRegistrar {
    text-align: center;
    width: 100%;
    padding: 10px 16px;
    font-size: 15px;
}

#btnKanban {
    text-align: right;
    font-size: 15px;
}

#tituloExibido {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 36px;
    margin-bottom: 25px;
}

.container {
    display: none; /* Container das tarefas fica oculto no início, até que usuário clique em Iniciar */
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    flex-direction: column;
    align-items: center;

    font-size: 18px;
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.formulario {
    width: 100%;
}

.formulario form {
    display: none;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}